{% extends 'base.html.twig' %}

{% block body %}
    {% if grp %}
    <h3>Filtered by {{ grp }}</h3>
    {% endif %}
    <twig:simple_datatables
            :data="data"
            :columns="columns">
        <twig:block name="age">
            <span {{ stimulus_controller('timeago', {
                datetime: row.createdAt|date('c')
            }) }}>
            {{ row.createdAt|ago }}
            </span>
{#            {{ row.createdAt|date('c') }}#}
        </twig:block>
        <twig:block name="remaining">
            {{ row.remaining|number_format }}
        </twig:block>
        <twig:block name="source">
            {{ row.source.code }}
        </twig:block>
        <twig:block name="grp">
            {{ row.grp.code }}
        </twig:block>
        <twig:block name="tokenCode">
            <span title="{{ row.token }}">{{ row.tokenCode }}</span>
        </twig:block>
        <twig:block name="nextToken">
            <span title="{{ row.nextToken }}">{{ row.nextToken|length }}</span>
                <a href="{{ path('extract_show', {tokenCode: row.tokenCode}) }}">
                    Show
                </a>

        </twig:block>

    </twig:simple_datatables>

    <h3>Recent</h3>
    <ul>
        {% for extract in lastExtract %}
            <li><textarea cols="80">{{ extract.token }}</textarea>
                <textarea cols="80">{{ extract.nextToken }}</textarea>
                <code>{{ extract.tokenCode }}</code>
                {{ extract.createdAt|ago }}

            </li>
        {% endfor %}
    </ul>


{% endblock %}

{% block title 'Extract records' %}

