{% extends 'base.html.twig' %}

{% block body %}
    <h3>{{ total|number_format }} Records</h3>
    {% set columns = [
        'code',
        'count',
        'loaded',
        'progress',
        'name',
    ] %}
    <twig:simple_datatables
            :perPage="25"
            :data="data"
            :columns="columns">
        <twig:block name="code">
            <a href="{{ path('app_extract', {grp: row.id}) }}">
                show
            </a>
            {{ row.id }}
        </twig:block>
        <twig:block name="loaded">
            {{ min(row.count, row.extractCount * 10) }}
        </twig:block>
        <twig:block name="count">
            {{ row.count }}
        </twig:block>
        <twig:block name="progress">
            {% set loaded = min(row.count, row.extractCount * 10) %}
            {% set percent =  100 * loaded/row.count  %}
{#            <label for="file">progress:</label>#}

            <progress id="file" max="{{ row.count }}" value="{{ loaded }}">{{ percent }}%</progress>
            {{ percent|number_format }}%

        </twig:block>
        <twig:block name="tokenCode">
            <span title="{{ row.token }}">{{ row.tokenCode }}</span>
        </twig:block>

    </twig:simple_datatables>

{% endblock %}

{% block title 'Extract records' %}

