{% extends 'base.html.twig' %}

{% block body %}
    {% set columns = [
        'code',
        'count',
        'name',
    ] %}
    <twig:simple_datatables
            :perPage="25"
            :data="data"
            :columns="columns">
        <twig:block name="code">
            <a href="{{ path('app_extract', {grp: row.id}) }}">
                show
            </a>
            {{ row.id }}
        </twig:block>
        <twig:block name="count">
            10x {{ row.extractCount }} pages of {{ row.count }}
        </twig:block>
        <twig:block name="tokenCode">
            <span title="{{ row.token }}">{{ row.tokenCode }}</span>
        </twig:block>

    </twig:simple_datatables>

{% endblock %}

{% block title 'Extract records' %}

