{% extends 'base.html.twig' %}

{% block body %}
    {% set columns = [
        'id',
        'marking',
        'label',
        'source',
    ] %}
    <twig:simple_datatables
            :perPage="25"
            :data="data"
            :columns="columns">
        <twig:block name="id">
            <a href="{{ path('row_show', {id: row.id}) }}">
                #{{ row.id }}
            </a>
        </twig:block>
        <twig:block name="label">
            <a href="{{ path('row_show', {id: row.id}) }}">
            {{ row.label }}
            </a>
        </twig:block>
        <twig:block name="source">
            {{ row.source.name }}
        </twig:block>
        <twig:block name="tokenCode">
            <span title="{{ row.token }}">{{ row.tokenCode }}</span>
        </twig:block>
        <twig:block name="nextToken">
            <span title="{{ row.nextToken }}">{{ row.nextToken|length }}</span>
        </twig:block>

    </twig:simple_datatables>

{% endblock %}

{% block title 'Extract records' %}

