{% extends 'base.html.twig' %}

{% block body %}
    <twig:simple_datatables
            :data="data"
            :columns="columns">
        <twig:block name="id">
            <a href="{{ path('row_show', {id: row.id}) }}">
                show {{ row.id }}
            </a>
        </twig:block>
        <twig:block name="source">
            {{ row.source.code }}
        </twig:block>
        <twig:block name="tokenCode">
            <span title="{{ row.token }}">{{ row.tokenCode }}</span>
        </twig:block>
        <twig:block name="nextToken">
            <span title="{{ row.nextToken }}">{{ row.nextToken|length }}</span>
        </twig:block>

    </twig:simple_datatables>

{% endblock %}

{% block title 'Extract records' %}

