{% extends 'base.html.twig' %}

{% block body %}
    {% set columns = [
        'grp',
        'name',
        'org',
        'recordCount'
    ] %}
    <twig:simple_datatables
            :perPage="25"
            :data="data"
            :columns="columns">
        <twig:block name="id">
            <a href="{{ path('row_show', {id: row.id}) }}">
                show {{ row.id }}
            </a>
        </twig:block>
        <twig:block name="grp">
            {{ row.grp }}/<code>{{ row.code }}</code>
        </twig:block>
        <twig:block name="name">
            <a href="{{ path('app_record', {source: row.id}) }}">
                {{ row.name }}
            </a>
        </twig:block>

    </twig:simple_datatables>

{% endblock %}

{% block title 'Extract records' %}

